[submodule "lib/gui-common"]
	path = lib/gui-common
	url = https://github.com/openpst/gui-common
	branch = master
[submodule "lib/libopenpst"]
	path = lib/libopenpst
	url = https://github.com/openpst/libopenpst
	branch = master
